div{
	width: 270px;
	height: 200px;
	border: 10px solid yellow;
}

#centrado{
   text-align:center;
   padding: 30px;

}

#justificado{
   text-align:left;
   padding: 30px;
   margin-left: 500px;	

}